header {
  // position: sticky;
  height: 120px;
  width: 100%;
  background-color: white;
}
.cursor {
  z-index: 1000;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid grey;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.09s ease;
  position: fixed;
  transform-origin: 100% 100%;
  transition-property: unset;
}
.cursor-follower {
  z-index: 1000;
  width: 4px;
  height: 4px;
  border: 3px solid $dark-grey;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition-property: background, border, transform;
  position: fixed;
  transform-origin: "100% 100%";
}
.menu {
  display: none;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  .menu-secondary-bg {
    background-color: $yellow;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu-layer {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #3f3d56;
    .wrapper {
      position: relative;
      margin-left: 7em;
      .menu-links {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        top: 150px;
        nav {
          display: block;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              h1 {
                display: inline-block;
                position: relative;
                font-size: 8rem;
                font-weight: 600;
                line-height: 0.8;
                color: #3f3d56;
                letter-spacing: 2px;
                font-family: $M;
                -webkit-text-stroke-width: 1.2px;
                -webkit-text-stroke-color: $yellow;
                margin-bottom: 0.4em;
                transition: 0.4s;
              }
              h1:hover {
                transition: 0.4s;
                color: $yellow;
                -webkit-text-stroke-width: 1.2px;
                -webkit-text-stroke-color: $yellow;
                &::after {
                  position: absolute;
                  content: "";
                  display: inline-block;
                  margin-left: 0.5em;
                  left: 100%;
                  top: 50%;
                  background: $blue;
                  width: 20rem;
                  height: 3px;
                  transition: width 0.5s;
                }
                // &::after {
                //   content: "";
                //   background: $yellow;
                //   width: 20rem;
                //   height: 3px;
                //   transition: width 0.5s;
                // }
              }

              // h1:hover {
              //   h1::after {
              //     content: "";
              //     height: 3px;
              //     background-color: $yellow;
              //     width: 20rem;
              //     position: absolute;
              //     top: 50%;
              //     left: 20%;
              //   }
              // }
            }
          }
        }
      }
    }
  }
}
.hamburger {
  height: 120px;
  z-index: 10;
  align-self: flex-end;
  margin-right: 3rem;
  .line {
    width: 60px;
    height: 7px;
    background-color: $yellow;
    margin: 0.7em 0;
    transition: 0.6s linear;
  }
  :nth-child(1) {
    width: 60px;
    align-self: flex-start;
  }
  :nth-child(2) {
    width: 30px;
    align-self: flex-end;
  }
  &:hover {
    :nth-child(1) {
      transition: 0.6s linear;

      width: 30px;
    }
    :nth-child(2) {
      width: 60px;
      transition: 0.6s linear;

      align-self: flex-end;
    }
  }
}
