.home {
  width: 100%;
  min-height: 80vh;
  margin: 4em 0;
  .home-content {
    justify-content: space-between;
  }
  .home-pic {
    margin-right: 2em;
  }
  .home-text {
    // width: 100%;

    h2 {
      display: inline-block;
      position: relative;
      font-size: 4rem;
      font-weight: 600;
      color: $white;
      font-family: $M;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $grey;
    }
    h1 {
      display: inline-block;
      position: relative;
      font-size: 11.25rem;
      font-weight: 700;
      color: $blue;
      letter-spacing: 2px;
      font-family: $M;
      margin: 0.1em 0;
    }
    p {
      margin: 2em 0;
      color: $dark-grey;
      font-weight: 400;
      font-size: 1.875rem;
      font-family: $S;
      line-height: 1.6;
      letter-spacing: 2px;
      opacity: 0.98;
    }

    .btn {
      margin-left: 1.5em;
      display: inline-block;
      a {
        position: relative;
        width: 18rem;
        height: 4.5rem;
        padding: 0.5em 0.75em;
        color: $white;
        top: 42px;
        left: -15px;
        font-size: 2rem;
        font-family: $M;
        background-color: $blue;
        border: none;
        z-index: 2;
      }

      .bg {
        display: block;
        width: 16rem;
        height: 4.5rem;
        background-color: $yellow;
        opacity: 0.7;
      }
    }
  }
}
