.work {
  width: 100%;
  min-height: 100vh;
  margin: 5em 0;
  .container {
    .col {
      .work-heading {
        display: block;
        margin-left: 2em;
        h1 {
          margin-top: 1em;
          margin-bottom: 2em;
          position: relative;
          font: 700 7.5rem $M;
          // letter-spacing: 3px;
          color: $blue;
          display: inline-block;
          z-index: 2;
        }
        h1::after {
          content: "";
          position: absolute;
          display: block;
          width: 90%;
          height: 50%;
          background-color: $yellow;
          z-index: -1;
          top: 55%;
          left: -5%;
          opacity: 0.6;
        }
      }
      .cases {
        // background-color: $yellow;
        // margin: auto;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        // align-items: center;
        // margin: 0 auto;

        .case-text {
          h4 {
            font: 700 1.5rem $M;
            color: $light-grey;
            margin-bottom: 1em;
          }
          p {
            font: 2rem $S;
            color: $dark-grey;
            line-height: 1.44;
            margin-bottom: 5em;
          }
        }
        .case {
          overflow: hidden;
          height: 836px;
          width: 450px;
          margin-bottom: 10em;
          .col {
            justify-content: center;
            align-items: center;
          }

          h3 {
            position: relative;
            display: inline-block;
            font: 600 2.25rem $M;
            margin-bottom: 1em;
            color: $blue;

            // background-color: $yellow;
          }
          h3::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: $yellow;
            top: 50%;
            margin-left: 0.5em;
          }
          .img-prop {
            height: 750px;
            width: 450px;
            overflow: hidden;
            margin: 1em 0;
            // background-color: aqua;
          }
        }
        .case-section1 {
          // width: 100%;
          // background-color: $blue;
          // justify-content: center;
          // align-items: center;
          // margin: auto;

          .case {
            .img2 {
              width: 100%;
              height: 100%;
              background-image: url("../../assets/images/f2.png");
              // background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .img4 {
              width: 100%;
              height: 100%;
              background-image: url("../../assets/images/f4.png");
              // background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
        .case-section2 {
          .case {
            .img1 {
              width: 100%;
              height: 100%;
              // min-height: 750px;
              background-image: url("../../assets/images/f1.png");
              // background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .img3 {
              width: 100%;
              height: 100%;
              background-image: url("../../assets/images/f3.png");
              // background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
}
