.contact {
  width: 100%;
  min-height: 100vh;
  margin: 5em 0;
  .container {
    .col {
      .contact-heading {
        display: block;
        margin-left: 2em;
        h1 {
          margin-top: 1em;
          margin-bottom: 2em;
          position: relative;
          font: 700 7.5rem $M;
          color: $blue;
          display: inline-block;
          z-index: 2;
        }
        h1::after {
          content: "";
          position: absolute;
          display: block;
          width: 90%;
          height: 50%;
          background-color: $yellow;
          z-index: -1;
          top: 55%;
          left: -5%;
          opacity: 0.6;
        }
      }
    }
  }
}
