footer {
  margin-top: 10em;
  min-height: 350px;
  background-color: $dark-grey;
  .col {
    min-height: 350px;
    justify-content: space-around;
    align-items: center;
    .footer_links {
      margin-top: 2em;
      margin-left: 3em;
      a {
        padding: 0 2em;
        color: $white;
        font: 700 1.5rem $M;
        transition: 0.6s;
      }
      a:hover {
        color: $blue;
        transition: 0.6s;
      }
    }
    .footer_pics {
      img {
        margin: 0 2em;
      }
    }
    .footer_copyright {
      span {
        color: $light-grey;
        font: 400 0.75rem $M;
      }
      margin-bottom: 2em;
    }
  }
}
