@media (max-width: 1368px) {
  .home {
    .container {
      .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // .home-text {
        // }
        .home-pic {
          // margin: 0 auto;
          margin-right: 0em;
          margin-top: 5em;
        }
      }
      .btn-cont {
        margin-top: 7em;
        text-align: center;
      }
    }
  }
  .about {
    .container {
      .row {
        flex-direction: column-reverse;
        .about-pic {
          margin-top: 9em;
          margin-right: 0em;
        }
        .about-text {
          margin: 0 auto;
        }
      }
    }
  }
  .work {
    .container {
      .cases {
        // width: 0px;
        // background-color: green;
        flex-direction: column-reverse;
        justify-content: center;
        // justify-content: center;
        align-items: center;
      }
      .case-section1 {
        margin: 0;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
  .contact {
    .container {
      .contact-contents {
        .row {
          justify-content: center;
        }
        .contact-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          .links {
            .link {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .contact-image {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .menu {
    .menu-layer {
      .wrapper {
        margin-left: 4em;
        .menu-links {
          nav {
            ul {
              li {
                h1 {
                  margin-top: 0.5em;
                  font-size: 5.25rem;
                }
                h1:hover {
                  &::after {
                    width: 10rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .contact {
    .container {
      .col {
        .resume {
          .btn {
            a {
              font-size: 1.5rem;
              top: 32px;
            }
            .bg {
              width: 11rem;
              height: 3.5rem;
            }
          }
        }
        .contact-heading {
          h1 {
            font-size: 5rem;
          }
        }
        .contact-contents {
          .contact-text {
            h3 {
              // display: none;
              font-size: 1.75rem;
            }
            h5 {
              font-size: 1rem;
            }
            .links {
              .link {
                display: flex;
                align-items: center;
                justify-content: center;
                .row {
                  a {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .home {
    .btn-cont {
      .btn {
        a {
          font-size: 1.5rem;
          top: 32px;
        }
        .bg {
          width: 12rem;
          height: 3.5rem;
        }
      }
    }
    .container {
      .row {
        .home-text {
          h2 {
            font-size: 3rem;
          }
          h1 {
            font-size: 8rem;
          }
          p {
            font-size: 1.25rem;
          }
        }
        // .home-text {
        // }
        .home-pic {
          // margin: 0 auto;
          max-width: 75%;
          max-height: 75%;
        }
      }
    }
  }
  .about {
    .container {
      h1 {
        font-size: 5rem;
      }
      .row {
        .about-pic {
          margin: 0 auto;
          margin-top: 7em;
          width: 50%;
          height: 50%;
          min-width: 50px;
        }
        .about-text {
          p {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  .work {
    .container {
      .col {
        .work-heading {
          h1 {
            font-size: 5rem;
          }
        }
        .cases {
          .case-text {
            h4 {
              font-size: 1rem;
            }
            p {
              font-size: 1.5rem;
            }
          }
          .case {
            height: 650px;
            width: 350px;
            h3 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  footer {
    .col {
      .footer_links {
        margin-left: 0em;
        a {
          font-size: 1.25rem;
        }
      }
      .footer_pics {
        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .menu {
    .menu-layer {
      .wrapper {
        margin-left: 2em;
        .menu-links {
          nav {
            ul {
              li {
                h1 {
                  margin-top: 0.5em;
                  font-size: 4.25rem;
                }
                h1:hover {
                  &::after {
                    width: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .home {
    .container {
      .row {
        .home-text {
          h2 {
            font-size: 2.5rem;
          }
          h1 {
            font-size: 6rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .about {
    .container {
      h1 {
        font-size: 3.25rem;
      }
      .row {
        .about-pic {
          margin-top: 4em;
        }
        .about-text {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .work {
    .container {
      .col {
        .work-heading {
          h1 {
            font-size: 3.5rem;
          }
        }
        .cases {
          .case-text {
            h4 {
              font-size: 0.75rem;
            }
            p {
              font-size: 1.25rem;
            }
          }
          .case {
            h3 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  .contact {
    .container {
      .col {
        .contact-heading {
          h1 {
            font-size: 3.5rem;
          }
        }
        .contact-contents {
          .contact-text {
            h3 {
              // display: none;
              font-size: 1.5rem;
            }
            h5 {
              font-size: 1rem;
            }
            .links {
              .link {
                .row {
                  a {
                    font-size: 1.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .col {
      .footer_links {
        margin-left: 0em;
        a {
          font-size: 1rem;
        }
      }
      .footer_pics {
        img {
          height: 20px;
          width: 20px;
        }
      }
      .footer_copyright {
        span {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .menu {
    .menu-layer {
      .wrapper {
        margin-left: 2em;
        .menu-links {
          nav {
            ul {
              li {
                h1 {
                  margin-top: 0.5em;
                  font-size: 3.25rem;
                }
                h1:hover {
                  &::after {
                    width: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .home {
    .container {
      .row {
        .home-text {
          h2 {
            font-size: 2rem;
          }
          h1 {
            font-size: 4.5rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .about {
    .container {
      h1 {
        font-size: 3rem;
      }
      .row {
        .about-pic {
          margin-top: 4em;
        }
        .about-text {
          margin: 0 auto;
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .work {
    .container {
      .col {
        .work-heading {
          h1 {
            font-size: 3rem;
          }
          .cases {
            .case {
              height: 464px;
              width: 250px;
            }
          }
        }
      }
    }
  }
  .contact {
    .container {
      .col {
        .contact-heading {
          h1 {
            font-size: 3rem;
          }
        }
        .contact-contents {
          .contact-text {
            h3 {
              // display: none;
              font-size: 1.25rem;
            }
            h5 {
              font-size: 1rem;
            }
            .links {
              .link {
                .row {
                  a {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .col {
      .footer_links {
        margin-left: 0em;
        a {
          font-size: 0.8rem;
        }
      }
      .footer_pics {
        img {
          height: 20px;
          width: 20px;
          margin: 0 1.25em;
        }
      }
    }
  }
}
