//importing fonts

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Sora&display=swap");

// colors

$yellow: #ffba08;
$second-bg: #f9f9f9;
$blue: #4361ee;
$dark-grey: #181818;
$grey: #a3a3a3;
$light-grey: #c4c4c4;
$black: #000000;
$white: #ffffff;

// fonts

$M: "Montserrat";
$S: "Sora";

// breakpoints

$surfacepro: 1368px;
$ipadmini: 768px;
$iphone11promax: 414px;
$tab: 800px;
$phone: 500px;
