// importing partials

@import "./variables";
@import "./utilities";
@import "./classes";

// importing sass components

@import "./components/01\ header.scss";
@import "./components/02\ home.scss";
@import "./components/03\ about.scss";
// @import "./components/04\ contact.scss";
// @import "./components/05\ footer.scss";
// @import "./components/06\ media\ queries.scss";
* {
  cursor: none;
}

body,
html {
  visibility: hidden;
  background-color: $white;
  cursor: none;
}
